.subscription-text-field {  
    position: relative; 
    height: 44px;
}

.subscription-text-field__text-field {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 45px 0 14px;
    margin: 0;
    background-color: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    outline: none;

    color: $dark-shade-25;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.subscription-text-field__text-field:hover,
.subscription-text-field__text-field:focus {
    border-color: $dark-shade-50;
    color: $dark-shade-75;
}

.subscription-text-field__text-field {
    @include placeholder {
        color: $dark-shade-25;
    }
}

.subscription-text-field__button {
    position: absolute;
    display: block;
    top: 1px;
    right: 1px;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 4px;
    outline: none;
    @include linear-gradient-background($purple, $blue-purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: "Material Icons";
    font-size: 24px;
    line-height: 41px;
    text-align: center;
    white-space: nowrap;
}
