include ../../blocks/text-field/text-field.pug
include ../../blocks/masked-text-field/masked-text-field.pug
include ../../blocks/subscription-text-field/subscription-text-field.pug

include ../../blocks/dropdown/customers-dropdown/customers-dropdown.pug
include ../../blocks/dropdown/rooms-dropdown/rooms-dropdown.pug
include ../../blocks/dropdown/date-dropdown/date-dropdown.pug
include ../../blocks/dropdown/filter-date-dropdown/filter-date-dropdown.pug


include ../../blocks/checkbox/checkbox-button/checkbox-button.pug
include ../../blocks/radio-button/radio-button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../blocks/checkbox/rich-checkbox-button/rich-checkbox-button.pug

include ../../blocks/like-button/like-button.pug
include ../../blocks/rate-button/rate-button.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/button/button.pug

include ../../blocks/pagination/pagination.pug
include ../../blocks/bullet-list/bullet-list.pug

include ../../blocks/note/note.pug
include ../../blocks/review/review.pug


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Form Elements
  body(class="form-elements")
    main(class="form-elements__container")


      //- Первый ряд
      div(class="form-elements__1st-row")

        //- Первая колонка
        div(class="form-elements__first-column")

          //- TEXT FIELD (DEFAULT)

          p(class="form-elements__block-name form-elements__block-name_default-text-field") Text field
          div(class="form-elements__default-text-field")
            p(class="form-elements__block-state form-elements__block-state_default-text-field") Default
            +text-field({
              name: "default-text-field",
              value: "Email",
              placeholder: "Email"
            })

          //- TEXT FIELD (HOVER / FOCUS)

          p(class="form-elements__block-name form-elements__block-name_focus-text-field") Text field
          div(class="form-elements__focus-text-field")
            p(class="form-elements__block-state form-elements__block-state_focus-text-field") Hover / Focus
            +text-field({
              name: "hover-text-field",
              value: "This is pretty awesome"
            })

          //- DROPDOWN (DEFAULT)

          p(class="form-elements__block-name form-elements__block-name_default-customers-dropdown") Dropdown
          div(class="form-elements__default-customers-dropdown")
            p(class="form-elements__block-state form-elements__block-state_default-customers-dropdown") Default
            +customers-dropdown({})

          //- MASKED TEXT FIELD (DEFAULT)

          p(class="form-elements__block-name form-elements__block-name_masked-text-field") Masked text field
          div(class="form-elements__masked-text-field")
            p(class="form-elements__block-state form-elements__block-state_masked-text-field") Default
            +masked-text-field({name: "masked-text-field"})

          //- DATE DROPDOWN

          div(class="form-elements__date-dropdown")
            p(class="form-elements__block-name form-elements__block-name_date-dropdown") Date dropdown
            +date-dropdown({name: "date-dropdown-1"})
          div(class="form-elements__date-dropdown")
            p(class="form-elements__block-name form-elements__block-name_date-dropdown") Date dropdown
            +date-dropdown({name: "date-dropdown-2"})

          //- FILTER DATE DROPDOWN

          p(class="form-elements__block-name form-elements__block-name_filter-date-dropdown") Filter date dropdown
          div(class="form-elements__filter-date-dropdown")
            +filter-date-dropdown({name: "filter-date-dropdown"})

          //- SUBSCRIPTION TEXT FIELD

          p(class="form-elements__block-name form-elements__block-name_subscription-text-field") Subscription text field
          div(class="form-elements__subscription-text-field")
            +subscription-text-field({
              name: "subscription-text-field",
              placeholder: "Email"
            })


        //- Вторая колонка
        div(class="form-elements__second-column")

          //- CHECKBOX BUTTONS

          p(class="form-elements__block-name form-elements__block-name_checkbox-button") Checkbox buttons
          div(class="form-elements__checkbox-button")
            +checkbox-button({name: "checkbox-1", title: "Можно курить"})
          div(class="form-elements__checkbox-button")
            +checkbox-button({name: "checkbox-2", title: "Можно с питомцами", checked: true})
          div(class="form-elements__checkbox-button")
            +checkbox-button({name: "checkbox-3", title: "Можно пригласить гостей (до 10 человек)", checked: true})

          //- RADIO BUTTONS

          p(class="form-elements__block-name form-elements__block-name_radio-button") Radio buttons
          div(class="form-elements__radio-button")
            +radio-button({name: "radio-button", value: "radio-button-1", title: "Мужчина", checked: true})
          div(class="form-elements__radio-button")
            +radio-button({name: "radio-button", value: "radio-button-2", title: "Женщина"})

          //- TOGGLE

          p(class="form-elements__block-name form-elements__block-name_toggle") Toggle
          div(class="form-elements__toggle")
            +toggle({name: "toggle-1", title: "Получать спецпредложения", checked: true})
          div(class="form-elements__toggle")
            +toggle({name: "toggle-2", title: "Получать спецпредложения"})

          //- LIKE BUTTON

          p(class="form-elements__block-name form-elements__block-name_like-button") Like button
          div(class="form-elements__like-button")
            +like-button({count: 2})
          div(class="form-elements__like-button")
            +like-button({count: 12, liked: true})

          //- RATE BUTTON

          p(class="form-elements__block-name form-elements__block-name_rate-button") Rate button
          div(class="form-elements__rate-button")
            +rate-button({stars: 4})
          div(class="form-elements__rate-button")
            +rate-button({stars: 5})


        //- Третья колонка
        div(class="form-elements__second-column")

          //- RANGE SLIDER

          div(class="form-elements__range-slider")
            +range-slider({
              title: "Range slider",
              names: ["range-slider-0", "range-slider-1"],
              limits: [176, 15706]
            })

          //- BUTTONS

          p(class="form-elements__block-name form-elements__block-name_buttons") Buttons
          div(class="form-elements__buttons")
            div(class="form-elements__button form-elements__button_default")
              +button({text: "Click me"})
            div(class="form-elements__button form-elements__button_hover-default")
              +button({text: "Click me"})

          div(class="form-elements__buttons")
            div(class="form-elements__button form-elements__button_bordered")
              +button({text: "Click me", theme: "bordered"})
            div(class="form-elements__button form-elements__button_hover-bordered")
              +button({text: "Click me", theme: "bordered"})

          div(class="form-elements__buttons")
            div(class="form-elements__button form-elements__button_backgroundless")
              +button({text: "Click me", theme: "backgroundless"})
            div(class="form-elements__button form-elements__button_hover-backgroundless")
              +button({text: "Click me", theme: "backgroundless"})

          div(class="form-elements__buttons")
            div(class="form-elements__button form-elements__button_with-arrow")
              +button({text: "Перейти к оплате", theme: "with-arrow"})

          //- PAGINATION

          p(class="form-elements__block-name form-elements__block-name_pagination") Pagination
          div(class="form-elements__pagination")
            +pagination()





      //- Второй ряд (DROPDOWN)
      div(class="form-elements__2nd-row")

        //- Первая колонка
        div(class="form-elements__first-column")
          p(class="form-elements__block-name form-elements__block-name_default-rooms-dropdown") Dropdown
          div(class="form-elements__default-rooms-dropdown")
            p(class="form-elements__block-state form-elements__block-state_default-rooms-dropdown") Default
            +rooms-dropdown({
              "bedrooms input name": "dropdown-1-bedrooms",
              "beds input name": "dropdown-1-beds",
              "bathrooms input name": "dropdown-1-bathrooms"
            })
          p(class="form-elements__block-name form-elements__block-name_expanded-rooms-dropdown") Dropdown
          div(class="form-elements__expanded-rooms-dropdown")
            p(class="form-elements__block-state form-elements__block-state_expanded-rooms-dropdown") Expanded
            +rooms-dropdown({})

        //- Вторая колонка
        div(class="form-elements__second-column")
          p(class="form-elements__block-name form-elements__block-name_customers-dropdown") Dropdown
          div(class="form-elements__customers-dropdown")
            +customers-dropdown({
              "adults input name": "dropdown-1-adults",
              "children input name": "dropdown-1-children",
              "babies input name": "dropdown-1-babies"
            })


        //- Третья колонка
        div(class="form-elements__second-column")
          p(class="form-elements__block-name form-elements__block-name_customers-dropdown") Dropdown
          div(class="form-elements__customers-dropdown")
            +customers-dropdown({
              "adults input name": "dropdown-2-adults",
              "children input name": "dropdown-2-children",
              "babies input name": "dropdown-2-babies"
            })





      //- Третий ряд
      div(class="form-elements__3rd-row")

        //- Первая колонка (EXPANDABLE CHECKBOX LIST)
        div(class="form-elements__first-column")
          div(class="form-elements__expandable-checkbox-list-1")
            +expandable-checkbox-list({
              title: "Expandable checkbox list",
              items: [
                { name: "checkbox-01", title: "Завтрак", checked: false },
                { name: "checkbox-02", title: "Письменный стол", checked: true },
                { name: "checkbox-03", title: "Стул для кормления", checked: true },
                { name: "checkbox-04", title: "Кроватка", checked: true },
                { name: "checkbox-05", title: "Телевизор", checked: false },
                { name: "checkbox-06", title: "Шампунь", checked: false }
              ]
            })
          div(class="form-elements__expandable-checkbox-list-2")
            +expandable-checkbox-list({
              title: "Expandable checkbox list",
              expanded: true,
              items: [
                { name: "checkbox-11", title: "Завтрак", checked: false },
                { name: "checkbox-12", title: "Письменный стол", checked: true },
                { name: "checkbox-13", title: "Стул для кормления", checked: true },
                { name: "checkbox-14", title: "Кроватка", checked: true },
                { name: "checkbox-15", title: "Телевизор", checked: false },
                { name: "checkbox-16", title: "Шампунь", checked: false }
              ]
            })

        //- Вторая колонка (RICH CHECKBOX BUTTONS)
        div(class="form-elements__second-column")
          p(class="form-elements__block-name form-elements__block-name_rich-checkbox-buttons") Rich checkbox buttons
          div(class="form-elements__rich-checkbox-button")
            +rich-checkbox-button({name: "rich-checkbox-1", title: "Широкий коридор", description: "Ширина коридоров в номере не"+"\xa0"+"менее 91 см."})
          div(class="form-elements__rich-checkbox-button")
            +rich-checkbox-button({name: "rich-checkbox-2", title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист и проводит до номера."})

        //- Третья колонка (BULLET LIST)
        div(class="form-elements__second-column")
          p(class="form-elements__block-name form-elements__block-name_bullet-list") Bullet list
          div(class="form-elements__bullet-list")
            +bullet-list([
              "Нельзя с питомцами",
              "Без вечеринок и мероприятий",
              "Время прибытия — после 13:00, а выезд до 12:00"
            ])





      //- Четвёртый ряд
      div(class="form-elements__4th-row")

        //- Первая колонка (NOTES)
        div(class="form-elements__first-column")
          div(class="form-elements__notes")
            +note({
              title: "Комфорт",
              description: "Шумопоглощающие стены",
              icon: "\ue24e"
            })
            +note({
              title: "Удобство",
              description: "Окно в каждой из спален",
              icon: "\ue7f1"
            })
            //- Пустая запись для разделительной полосы
            div.note

        //- Вторая колонка (REVIEW)
        div(class="form-elements__double-column")
          div(class="form-elements__review")
            +review({
              author: "Мурад Сарафанов",
              date: "5 дней назад",
              photo: "user-1-photo.jpg",
              text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
              likesCount: 12,
              liked: true
            })


