@import "../../dropdown/date-dropdown/date-dropdown.scss";
@import "../../dropdown/customers-dropdown/customers-dropdown.scss";
@import "../../button/button.scss";

.search-form {
    width: 320px;
    padding: 17px 29px;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

    color: $dark-shade-100;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.search-form__title {
    margin: 0;
    padding: 22px 0 20px 0;

    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.search-form__field-title {
    margin: 0;
    padding: 1px 0 5px 0;

    font-weight: bold;
    text-transform: uppercase;
}

.search-form__date-field {
    display: inline-block;
    width: 150px;
}
.search-form__date-field:first-of-type {
    margin-right: 20px;
}

.search-form__customers-field {
    padding: 21px 0 31px 0;
}

.search-form__button {
    padding-bottom: 12px;
}