@import "../../blocks/header/header.scss";
@import "../../blocks/footer/footer.scss";

@import "../../blocks/forms/search-form/search-form.scss";


.landing-page {
    min-width: 300px;
	margin: 0;
	padding: 0;
}

.landing-page__main-container {
    background: url(./landing-page-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landing-page__container {
    position: relative;
    max-width: 1160px;
    min-height: 690px;
    margin: 0 auto;
    padding: 70px 10px;
}

.landing-page__text {
    position: absolute;
    width: 300px;
    margin: 0;
    right: 4px;
    bottom: 20px;

    color: $dark-shade-75;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
}




@media all and (max-width: 520px) {

    .landing-page__container {
        padding: 30px 5px;
    }

}