.text-field {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 14px;
    margin: 0;
    background-color: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;

    color: $dark-shade-25;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    outline: none;
}

.text-field_hover,
.text-field:hover,
.text-field:focus {
    border-color: $dark-shade-50;
    color: $dark-shade-75;
}

.text-field {
    @include placeholder {
        color: $dark-shade-25;
    }
}