-
    /*
        pagination ()
    */
mixin pagination()
    div(class="pagination")
        a(class="pagination__button pagination__button_navigational pagination__button_disabled" href="#") &#xe5c4;
        a(class="pagination__button pagination__button_current" href="#") 1
        a(class="pagination__button" href="#") 2
        a(class="pagination__button" href="#") 3
        span(class="pagination__button") ...
        a(class="pagination__button" href="#") 15
        a(class="pagination__button pagination__button_navigational" href="#") &#xe5c8;
        div(class="pagination__result-text")
            | 1 – 12 из 100+ вариантов аренды