@import "../../blocks/header/header.scss";
@import "../../blocks/footer/footer.scss";

@import "../../blocks/forms/login-form/login-form.scss";


.sign-in {
    min-width: 300px;
	margin: 0;
	padding: 0;
}

.sign-in__main-container {
    padding: 172px 5px;
    background: url(./sign-in_bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sign-in__login-form {
    max-width: 380px;
    margin: 0 auto;
}
