include ../../blocks/header/header.pug
include ../../blocks/footer/footer.pug

include ../../blocks/forms/login-form/login-form.pug


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Sign in
  body(class="sign-in")

    +header({
          items: [
            { text: "О нас", url: '#', current: false },
            { text: "Услуги", url: '#', withArrow: true },
            { text: "Вакансии", url: '#' },
            { text: "Новости", url: '#' },
            { text: "Соглашения", url: '#', withArrow: true }
          ],
          logged: false
    })

    main(class="sign-in__main-container")
      div(class="sign-in__login-form")
        +login-form({})


    +footer()
