.date-dropdown {
    position: relative;
    height: 42px;
    padding: 0 45px 0 14px;
    background-color: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;

    color: $dark-shade-75;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 39px;
}

.date-dropdown__text {
    padding: 0;
    margin: 0;
}

.date-dropdown__text::after {
    content: "\e5cf";
    position: absolute;
    display: block;
    width: 42px;
    height: 44px;
    top: 0;
    right: 0;

    color: $dark-shade-50;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 43px;
    white-space: nowrap;
    text-align: center;
}

.date-dropdown__calendar {
    position: absolute;
    width: 320px;
    height: 100px;
    top: 44px;
    left: 0;

    visibility: hidden;
}

.date-dropdown__calendar_opened {
    visibility: visible;
}