.date-dropdown {
    position: relative;

}
.date-dropdown::after {
    content: "\e5cf";
    position: absolute;
    display: block;
    width: 42px;
    height: 44px;
    top: 1px;
    right: 1px;

    color: $dark-shade-50;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 43px;
    white-space: nowrap;
    text-align: center;
}


.date-dropdown__input {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 0 1px 14px;
    margin: 0;
    background-color: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    outline: none;

    color: $dark-shade-75;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 41px;
}
.date-dropdown__input:hover,
.date-dropdown__input:focus {
    color: $dark-shade-75;
}

.date-dropdown__input {
    @include placeholder {
        color: $dark-shade-75;
    }
}