@import "../../blocks/header/header.scss";
@import "../../blocks/footer/footer.scss";

@import "../../blocks/dropdown/filter-date-dropdown/filter-date-dropdown.scss";
@import "../../blocks/dropdown/customers-dropdown/customers-dropdown.scss";
@import "../../blocks/dropdown/rooms-dropdown/rooms-dropdown.scss";
@import "../../blocks/checkbox/checkbox-button/checkbox-button.scss";
@import "../../blocks/checkbox/rich-checkbox-button/rich-checkbox-button.scss";
@import "../../blocks/range-slider/range-slider.scss";
@import "../../blocks/expandable-checkbox-list/expandable-checkbox-list.scss";

@import "../../blocks/preview/preview.scss";
@import "../../blocks/pagination/pagination.scss";



.search-room {
    margin: 0;
    background: $white;
}

.search-room__main-background {
    border-bottom: 1px solid $dark-shade-25;
}

.search-room__main-container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px 51px 10px;
}
.search-room__main-container::after {
    content: "";
    display: table;
    clear: both;
}






/* Меню со всякими кнопочками, слайдерами и т.п. */


.search-room__filter-menu {
    float: left;
    width: 266px;
    padding: 0;
}

// Кнопка для сворачивания и разворачивания меню

.search-room__menu-toggle-button {
    display: none;
    position: relative;
    width: 42px;
    height: 42px;
    margin: 0 auto 25px auto;
    border: 1px solid $dark-shade-25;
    border-radius: 22px;

    color: $dark-shade-50;
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 42px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}
.search-room__menu-toggle-button::after {
    content: "\e5cf";
    position: absolute;
    width: 42px;
    top: 0;
    left: 0;
    vertical-align: middle;
}
.search-room__menu-toggle-button_expanded::after {
    content: "\e5ce";
    position: absolute;
    width: 42px;
    top: 0;
    left: 0;
    vertical-align: middle;
}


// Контейнер для элементов меню, чтобы можно было скрывать его
.search-room__menu-elements {
    margin-bottom: 50px;
}


// Заголовок элемента меню

.search-room__filter-element-title {
    margin: 0;

    color: $dark-shade-100;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

// filter-date-dropdown

.search-room__filter-date-dropdown {
    margin: 4px 0 21px 0;
}

// customers-dropdown

.search-room__customers-dropdown {
    margin: 4px 0 31px 0;
}

// range-slider

.search-room__range-slider {
    margin-bottom: 10px;
}

.search-room__range-slider-description {
    margin: 0 0 30px 0;

    color: $dark-shade-50;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 14px;
}

// checkbox-button

.search-room__checkbox-list {
    margin: 16px 0 32px 0;
}

.search-room__checkbox-button {
    max-width: 240px;
    margin: 10px 0;
}

// rich-checkbox-button

.search-room__rich-checkbox-list {
    margin: 15px 0 30px 0;
}

.search-room__rich-checkbox-button {
    margin: 9px 0;
    padding-right: 10px;
}

// rooms-dropdown

.search-room__rooms-dropdown {
    margin: 4px 0 26px 0;
}

// expandable-checkbox-list

.search-room__filter-element_expandable-checkbox-list {
    padding-right: 10px;
}





/* Список комнат */


.search-room__rooms-list {
    max-width: 846px;
    margin-left: auto;
    padding-left: 290px;

    line-height: 0px;
}

// Заголовок

.search-room__rooms-list-title {
    margin: 15px 0;
    padding-left: 12px;

    color: $dark-shade-100;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

// Превью

.search-room__preview {
    display: inline-block;
    box-sizing: border-box;
    width: 33.33%;
    max-width: 368px;
    padding: 5px 0 15px 12px;
}

// Pagination

.search-room__pagination {
    margin: 26px 0;
}











// Переключение на две колонки

@media all and (max-width: 1110px) {

    .search-room__preview {
        width: 50%;
    }

}



// Переключение на одну колонку

@media all and (max-width: 850px) {

    .search-room__preview {
        width: 100%;
    }
    
}



// Расположение меню фильтра сверху

@media all and (max-width: 600px) {

    .search-room__main-container {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .search-room__filter-menu {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .search-room__menu-toggle-button {
        display: block;
    }

    .search-room__menu-elements {
        display: none;
    }
    .search-room__menu-elements_expanded {
        display: block;
    }

    .search-room__rooms-list {
        min-width: 290px;
        margin: 0;
        padding: 0;
        border-top: 1px solid $dark-shade-10;
    }

    .search-room__rooms-list-title {
        padding: 0;
    }

    .search-room__preview {
        display: block;
        max-width: 368px;
        padding-left: 0;
        margin: 0 auto;
    }

}