include ../../text-field/text-field.pug
include ../../masked-text-field/masked-text-field.pug
include ../../radio-button/radio-button.pug
include ../../toggle/toggle.pug
include ../../button/button.pug
-
    /*
        registration-form ({
            action: string
            sign-in-href: string
        })
    */
mixin registration-form(values)
    -
        if(!("action" in values)) values.action = "#";
        if(!("sign-in-href" in values)) values["sign-in-href"] = "#";
    form(
        class="registration-form"
        action=values.action
    )

        div(class="registration-form__container")

            p(class="registration-form__form-title") Регистрация аккаунта

            div(class="registration-form__text-field")
                +text-field({name: "first-name", value: "", placeholder: "Имя"})
            div(class="registration-form__text-field")
                +text-field({name: "last-name", value: "", placeholder: "Фамилия"})

            div(class="registration-form__radio-button")
                +radio-button({name: "gender", value: "male", title: "Мужчина", checked: true})
            div(class="registration-form__radio-button")
                +radio-button({name: "gender", value: "female", title: "Женщина"})

            p(class="registration-form__field-title") Дата рождения
            div(class="registration-form__text-field")
                +masked-text-field({name: "be", value: ""})

            p(class="registration-form__field-title") Данные для входа в сервис
            div(class="registration-form__text-field")
                +text-field({name: "email", value: "", placeholder: "Email"})
            div(class="registration-form__text-field")
                +text-field({name: "pass", value: "", placeholder: "Пароль", password: true})

            div(class="registration-form__toggle")
                +toggle({name: "toggle", checked: false, title: "Получать спецпредложения"})

            div(class="registration-form__button")
                +button({
                    type: "submit",
                    name: "submit",
                    value: "submit",
                    text: "Перейти к оплате",
                    theme: "with-arrow"
                })
            div(class="registration-form__button")
                a(class="registration-form__sign-in-button" href=values["sign-in-href"])
                    +button({
                        type: "button",
                        name: "sign-in",
                        value: "sign-in",
                        text: "Войти",
                        theme: "bordered"
                    })
                div(class="registration-form__registration-tip")
                    p(class="registration-form__registration-tip-text") Уже есть аккаунт на Toxin

