@import "../rate-button/rate-button.scss";

.preview {
    background: $white;
    border-radius: 4px;
    box-shadow: 0 10px 20px $dark-shade-5;
    overflow: hidden;

    color: $dark-shade-100;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.preview__photo {
    position: relative;
    
    background-color: gray;
}

.preview__photo-image {
    display: block;
    width: 100%;
}

.preview__left-photo-side {
    position: absolute;
    width: 44px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    @include horizontal-linear-gradient-background(rgba($black, 0.5), rgba($black, 0));

    text-align: center;
    visibility: hidden;
}
.preview__right-photo-side {
    position: absolute;
    width: 44px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    @include horizontal-linear-gradient-background(rgba($black, 0), rgba($black, 0.5));

    text-align: center;
    visibility: hidden;
}

.preview__photo:hover .preview__left-photo-side,
.preview__photo:hover .preview__right-photo-side {
    visibility: visible;
}

.preview__side-button {
    position: relative;
    top: 50%;
    width: 44px;
    height: 44px;
    margin: -22px 0 0 0;
    vertical-align: middle;

    color: $white;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
}

.preview__round-button-list {
    position: absolute;
    right: 15px;
    bottom: 11px;
    z-index: 2;

    text-align: right;
}

.preview__round-button {
    display: inline-block;
    width: 5.5px;
    height: 5.5px;
    margin-left: 3.75px;
    border: 1px solid $white;
    border-radius: 4px;
    cursor: pointer;
}

.preview__round-button_current {
    background-color: $white;
}

.preview__room-number {
    display: block;
    height: 44px;
    margin: 10px 20px 0 20px;
    border-bottom: 1px solid $dark-shade-10;

    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    line-height: 44px;
    font-weight: bold;
}
.preview__room-number::before {
    content: "№ ";

    font-size: 14px;
    font-weight: bold;
}
.preview__room-number_luxe::after {
    content: "люкс";
    padding-left: 5px;

    color: $purple;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.preview__room-price {
    float: right;
    margin: 24px 17px 0 0;

    color: $dark-shade-50;
    font-weight: bold;
}
.preview__room-price::after {
    content: " в сутки";

    font-size: 12px;
    font-weight: normal;
}

.preview__rate-button {
    margin: 8px 0 0 20px;
    padding: 0 0 19px 0;
}

.preview__reviews-numbers {
    float: right;
    margin: 12px 20px 0 0;

    color: $dark-shade-50;
    font-weight: bold;
}
.preview__reviews-numbers::after {
    content: " Отзывов";

    font-size: 14px;
    font-weight: normal;
}