include ../checkbox/checkbox-button/checkbox-button.pug

-
    /*
        expandable-checkbox-list ({
            title: string,
            items: array of {
                            name: string,
                            checked: bool,
                            title: string
                        }
        })
    */
mixin expandable-checkbox-list(values)
    div(class="expandable-checkbox-list")
        p(class="expandable-checkbox-list__title")= values.title
        div(class="expandable-checkbox-list__body")
            each item in values.items
                div(class="expandable-checkbox-list__checkbox-button")
                    +checkbox-button(item)

