@import "../button/button.scss";

.calendar {
    position: relative;
    display: none;
    width: 280px;
    padding: 19px 19px 18px 19px;
    background-color: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-shadow: 0 10px 20px $dark-shade-5;

}
.calendar::after {
    content: "";
    display: table;
    clear: both;
}

.calendar_uikit,
.calendar_active {
    display: block;
    
}


.calendar__left-arrow {
    float: left;

    color: $purple;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}
.calendar__right-arrow {
    float: right;

    color: $purple;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}

.calendar__title {
    height: 54px;
    margin: 0;

    color: $dark-shade-100;
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
}

.calendar__week-row {
    display: block;
    width: 290px;
    height: 40px;
    padding: 0 0 0 1px;
    margin: 0;

    list-style-type: none;
    font-size: 0;
}

.calendar__day-cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: none;

    cursor: pointer;
}

.calendar__day-cell_selected,
.calendar__day-cell_first-selected,
.calendar__day-cell_last-selected {
    @include linear-gradient-background(rgba($purple, .25), rgba($blue-purple, .25));

}
.calendar__day-cell_first-selected {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.calendar__day-cell_last-selected {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.calendar__day-text {
    width: 40px;
    height: 40px;
    margin: 0;

    color: $dark-shade-50;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}

.calendar__day-text_theme_title {

    color: $purple;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.calendar__day-text_theme_another-month {

    color: $dark-shade-25;
}
.calendar__day-text_theme_today {
    @include linear-gradient-background($green, $blue-green);
    border-radius: 20px;

    color: $white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.calendar__day-text_theme_selected {
    @include linear-gradient-background($purple, $blue-purple);
    border-radius: 20px;

    color: $white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.calendar__ok-button {
    float: right;
    padding-top: 20px;
}

.calendar__clear-button {
    float: left;
    padding-top: 20px;
}


