@import "../button/button.scss";

.calendar {
    position: relative;
    display: none;
    max-width: 320px;
    min-width: 300px;
    padding: 19px 10px 18px 10px;
    background-color: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    box-shadow: 0 10px 20px $dark-shade-5;
    box-sizing: border-box;

}
.calendar::after {
    content: "";
    display: table;
    clear: both;
}

.calendar_uikit,
.calendar_active {
    display: block;
    
}


.calendar__left-arrow {
    float: left;
    margin-left: 9px;

    color: $purple;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}
.calendar__right-arrow {
    float: right;
    margin-right: 9px;

    color: $purple;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
}

.calendar__title {
    height: 54px;
    margin: 0;

    color: $dark-shade-100;
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
}

.calendar__week-row {
    display: block;
    width: 280px;
    height: 40px;
    padding: 0;
    margin: 0 auto;

    list-style-type: none;
    font-size: 0;
}

.calendar__day-cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: none;

    cursor: pointer;
}

.calendar__day-cell_selected,
.calendar__day-cell_first-selected,
.calendar__day-cell_last-selected {
    @include linear-gradient-background(rgba($purple, .25), rgba($blue-purple, .25));

}
.calendar__day-cell_first-selected {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.calendar__day-cell_last-selected {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.calendar__day-text {
    width: 40px;
    height: 40px;
    margin: 0;

    color: $dark-shade-50;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
}

.calendar__day-text_theme_title {

    color: $purple;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.calendar__day-text_theme_another-month {

    color: $dark-shade-25;
}
.calendar__day-text_theme_today {
    @include linear-gradient-background($green, $blue-green);
    border-radius: 20px;

    color: $white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.calendar__day-text_theme_selected {
    @include linear-gradient-background($purple, $blue-purple);
    border-radius: 20px;

    color: $white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.calendar__ok-button {
    float: right;
    margin-right: 9px;
    padding-top: 20px;
}

.calendar__clear-button {
    float: left;
    margin-left: 9px;
    padding-top: 20px;
}



@media all and (max-width: 400px) {
    .calendar {
        max-width: 320px;
        min-width: 286px;
    }

    .calendar__title {
        font-size: 18px;
        line-height: 22px;
    }

    .calendar__week-row {
        width: 266px;
        height: 38px;
    }
    
    .calendar__day-cell {
        width: 38px;
        height: 38px;
    }

    .calendar__day-text {
        width: 38px;
        height: 38px;

        line-height: 38px;
    }
    .calendar__day-text_theme_today {
        border-radius: 19px;
    }
    .calendar__day-text_theme_selected {
        border-radius: 19px;
    }
}


@media all and (max-width: 350px) {
    .calendar {
        max-width: 306px;
        min-width: 272px;
        padding: 15px 10px 15px 10px;
    }

    .calendar__title {
        font-size: 17px;
        line-height: 21px;
    }

    .calendar__week-row {
        width: 252px;
        height: 36px;
    }
    
    .calendar__day-cell {
        width: 36px;
        height: 36px;
    }

    .calendar__day-text {
        width: 36px;
        height: 36px;

        font-size: 11px;
        line-height: 36px;    
    }
    .calendar__day-text_theme_today {
        border-radius: 18px;
    }
    .calendar__day-text_theme_selected {
        border-radius: 18px;
    }
}