.rate-button {
    display: block;
    height: 24px;
    width: 120px;

    font-size: 0;
    white-space: nowrap;
}

.rate-button__star {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.rate-button__star::before {
    content: "\e83a";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    @include linear-gradient-background($purple, $blue-purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: $dark-shade-75;
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 24px;
    white-space: nowrap;
    text-align: center;
}

.rate-button__star_checked {
}
.rate-button__star_checked::before {
    content: "\e838";
}
