-
    /*
        rate-button ()
    */
mixin rate-button()
    div(class="rate-button")
        div(class="rate-button__star")
        div(class="rate-button__star")
        div(class="rate-button__star")
        div(class="rate-button__star")
        div(class="rate-button__star")