@import "../../blocks/header/header.scss";
@import "../../blocks/footer/footer.scss";

@import "../../blocks/forms/registration-form/registration-form.scss";


.registration {
    min-width: 300px;
	margin: 0;
	padding: 0;
}

.registration__main-container {
    padding: 19px 5px 18px;
    background: url(./registration_bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid #e5e5e5;
}

.registration__registration-form {
    max-width: 380px;
    margin: 0 auto;
}