@import "../../dropdown/date-dropdown/date-dropdown.scss";
@import "../../dropdown/customers-dropdown/customers-dropdown.scss";
@import "../../button/button.scss";

.reservation-form {
    width: 320px;
    padding: 17px 29px 29px 29px;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

    color: $dark-shade-100;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 15px;
}

.reservation-form__room-number {
    display: block;
    height: 30px;
    margin: 0;
    padding: 22px 0 21px 0;

    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.reservation-form__room-number::before {
    content: "№ ";

    font-size: 14px;
    font-weight: bold;
}
.reservation-form__room-number::after {
    content: "люкс";
    padding-left: 5px;

    color: $purple;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.reservation-form__room-price {
    display: block;
    float: right;
    margin: 0;
    padding-top: 33px;

    color: $dark-shade-50;
    font-weight: bold;
    font-size: 14px;
}
.reservation-form__room-price::after {
    content: " в сутки";

    font-size: 12px;
    font-weight: normal;
}

.reservation-form__field-title {
    margin: 0;
    padding-bottom: 4px;

    font-weight: bold;
    text-transform: uppercase;
}

.reservation-form__date-field {
    display: inline-block;
    width: 150px;
    padding-bottom: 1px;
}
.reservation-form__date-field:first-of-type {
    margin-right: 20px;
}

.reservation-form__customers-field {
    padding: 20px 0 14px 0;
}

.reservation-form__check-item {
    padding: 7px 0 7px 1px;
}
.reservation-form__check-item::after {
    content: "";
    display: block;
    height: 2px;
    clear: both;
}

.reservation-form__check-item-text {
    height: 100%;
    margin: 0;

    color: $dark-shade-75;
    font-size: 14px;
    line-height: 18px;
}

.reservation-form__check-item-cost {
    position: relative;
    width: 100px;
    height: 100%;
    margin: 0;
    float: right;

    color: $dark-shade-75;
    text-align: right;
    font-size: 14px;
    line-height: 18px;
}

.reservation-form__check-item-cost_with-alert::before {
    content: "i";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: -1px;
    left: 0;
    float: right;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;

    color: $dark-shade-25;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}


.reservation-form__check-total {
    display: block;
    height: 18px;
    margin: 21px 0 25px 0;
    border-bottom: 1px dotted $dark-shade-25;

}

.reservation-form__check-total-text {
    display: block;
    height: 24px;
    margin: 0;
    padding: 0 5px 0 1px;
    float: left;
    background-color: $white;

    color: $dark-shade-100;
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
}

.reservation-form__check-total-cost {
    height: 24px;
    margin: 0;
    padding-left: 5px;
    float: right;
    background-color: $white;

    color: $dark-shade-100;
    font-family: "Quicksand", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
}

.reservation-form__button {}