@import "../../button/button.scss";

.customers-dropdown {
    position: relative;
    height: 44px;

    color: $dark-shade-75;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 41px;
}

.customers-dropdown__text {
    height: 42px;
    padding: 0 45px 0 14px;
    margin: 0;
    background-color: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
}

.customers-dropdown__text_opened {
    border-color: $dark-shade-50;
    border-radius: 4px 4px 0 0;
}

.customers-dropdown__text::after {
    content: "\e5cf";
    position: absolute;
    display: block;
    width: 44px;
    height: 44px;
    top: 0;
    right: 0;

    color: $dark-shade-50;
    font-family: "Material Icons";
    font-size: 24px;
    line-height: 44px;
    white-space: nowrap;
    text-align: center;
}

.customers-dropdown__text_opened::after {
    color: $dark-shade-75;
}


.customers-dropdown__item-list {
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 44px;
    left: 0;
    padding: 6px 6px 0 13px;
    background-color: $white;
    border: 1px solid $dark-shade-50;
    border-top-width: 0;
    border-radius: 0 0 4px 4px;

    visibility: hidden;
}

.customers-dropdown__item-list_opened {
    visibility: visible;
}

.customers-dropdown__item {
    height: 30px;
    padding: 0 0 7px 0;

    line-height: 26px;
}

.customers-dropdown__item-text {
    display: inline;
    padding: 0 0 0 1px;
    margin: 0;
    vertical-align: middle;

    color: $dark-shade-100;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

.customers-dropdown__count-button {
    position: relative;
    float: right;
    width: 28px;
    height: 28px;
    background-color: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 15px;

    color: $dark-shade-50;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.customers-dropdown__count-button_inactive {
    opacity: 0.38;
}
.customers-dropdown__count-button_decrease::after {
    content: "-";
    position: absolute;
    width: 28px;
    top: 0;
    left: 0;
}
.customers-dropdown__count-button_increase::after {
    content: "+";
    position: absolute;
    width: 28px;
    top: 0;
    left: 0;
}

.customers-dropdown__count-text {
    float: right;
    width: 32px;
    height: 28px;
    padding: 0;
    margin: 0;

    color: $dark-shade-100;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.customers-dropdown__ok-button {
    float: right;
    padding-top: 15px;
}

.customers-dropdown__clear-button {
    padding-top: 15px;
}

.customers-dropdown__clear-button_inactive {
    display: none;
}