@import "../subscription-text-field/subscription-text-field.scss";


.footer {

    color: $dark-shade-75;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.footer__first-row {
    min-height: 222px;
    padding: 100px 10px 50px 10px;
    box-shadow: 0 1px 0 $dark-shade-10;
    background-color: $white;

}

.footer__first-row-content {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.footer__column-title {
    margin: 4px 0 0 21px;

    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__description-column {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    
}

.footer__logo {
    height: 40px;
    width: 106px;
    background: url(./logo.svg) 0 50% no-repeat;
}

.footer__description-text {
    margin: 17px 0 0 0;

}

.footer__links-column {
    display: inline-block;
    width: 17.25%;
    vertical-align: top;

}

.footer__link {
    display: block;
    margin: 21px 0 0 21px;

    color: $dark-shade-50;
    line-height: 17px;
    white-space: nowrap;
    text-decoration: none;
}

.footer__subscription-column {
    display: inline-block;
    width: 24.25%;
    vertical-align: top;
}

.footer__subscription-text {
    margin: 18px 0 0 21px;
}

.footer__subscription-text-field {
    margin: 23px 0 0 21px;

}


.footer__second-row {
    margin-top: 1px;
    padding: 0 10px;
    box-shadow: 0 10px 20px $dark-shade-5;
    background-color: $white;

}

.footer__second-row-content {
    min-height: 70px;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;

    line-height: 68px;
}

.footer__copyright-text {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.footer__social-media {
    float: right;

}

.footer__social-media-button {
    display: inline-block;
    margin: 23px 10px;
    width: 24px;
    height: 24px;
    @include linear-gradient-background($purple, $blue-purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: middle;

    font-family: 'Font Awesome 5 Brands';
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}
.footer__social-media-button:last-of-type {
    margin-right: 0;
}

@media all and (max-width: 800px) {
    .footer__description-column {width: 100%;}
    .footer__description-text {display: none;}
    .footer__links-column {display: none;}
    .footer__subscription-column {display: none;}
    
    .footer {
        background-color: $white;
        box-shadow: 0 10px 20px $dark-shade-5;
    
    }
    .footer__first-row {
        min-height: 0;
        padding: 120px 0 0 0;
        box-shadow: none;
        background: none;
    }
    .footer__second-row {
        margin: 0;
        padding-bottom: 97px;
        box-shadow: none;
        background: none;
    }
    
    .footer__logo {
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer__second-row-content {
        text-align: center;
        line-height: 18px;
    }
    
    .footer__copyright-text {
        padding: 20px 0 2px 0;
    }
    
    .footer__social-media {
        float: none;
    }
    .footer__social-media-button:last-of-type {
        margin-right: 10px;
    }
}



// Версия для ширины экрана меньше 800px, но показываемая при ширине экрана больше 800px
.footer_short .footer__description-column {width: 100%;}
.footer_short .footer__description-text {display: none;}
.footer_short .footer__links-column {display: none;}
.footer_short .footer__subscription-column {display: none;}

.footer_short {
    background-color: $white;
    box-shadow: 0 10px 20px $dark-shade-5;

}
.footer_short .footer__first-row {
    min-height: 0;
    padding: 120px 0 0 0;
    box-shadow: none;
    background: none;
}
.footer_short .footer__second-row {
    margin: 0;
    padding-bottom: 97px;
    box-shadow: none;
    background: none;
}

.footer_short .footer__logo {
    margin-left: auto;
    margin-right: auto;
}

.footer_short .footer__second-row-content {
    text-align: center;
    line-height: 18px;
}

.footer_short .footer__copyright-text {
    padding: 20px 0 2px 0;
}

.footer_short .footer__social-media {
    float: none;
}
.footer_short .footer__social-media-button:last-of-type {
    margin-right: 10px;
}
