-
    /*
        rooms-dropdown ()
    */
mixin rooms-dropdown()
    div(class="rooms-dropdown")
        p(class="rooms-dropdown__text") Текст
        div(class="rooms-dropdown__item-list")

            div(class="rooms-dropdown__item")
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_increase")
                p(class="rooms-dropdown__count-text") 0
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_decrease")
                p(class="rooms-dropdown__item-text") Спальни

            div(class="rooms-dropdown__item")
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_increase")
                p(class="rooms-dropdown__count-text") 0
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_decrease")
                p(class="rooms-dropdown__item-text") Кровати

            div(class="rooms-dropdown__item")
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_increase")
                p(class="rooms-dropdown__count-text") 0
                div(class="rooms-dropdown__count-button rooms-dropdown__count-button_decrease rooms-dropdown__count-button_inactive")
                p(class="rooms-dropdown__item-text") Ванные комнаты
