.checkbox-button {
    display: block;
    position: relative;
    min-height: 19px;
    padding: 1px 0 0 30px;
    margin: 0;
    background: none;

    color: $dark-shade-50;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.checkbox-button__input {
    display: none;
}

.checkbox-button__title {
    margin: 0;
    padding: 0;
}

.checkbox-button__title::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
}
.checkbox-button__input:checked + .checkbox-button__title::before {
    border-color: $purple;
}

.checkbox-button__title::after {
    content: "";
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 19px;
}
.checkbox-button__input:checked + .checkbox-button__title::after {
    background: url(./check-image.svg) no-repeat 50% 50%;
}

