.masked-text-field {
    display: block;
    width: 288px;
    height: 42px;
    padding: 0 15px;
    margin: 0;
    background-color: white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;

    color: $dark-shade-25;
    font-size: 14px;
    font-weight: normal;
    outline: none;
}

.masked-text-field:hover,
.masked-text-field:focus {
    border-color: $dark-shade-50;
    color: $dark-shade-75;
}

.masked-text-field::placeholder {
    color: $dark-shade-25;
}

.masked-text-field::-webkit-input-placeholder, /* Chrome/Opera/Safari */
.masked-text-field::-moz-placeholder,          /* Firefox 19+ */
.masked-text-field:-ms-input-placeholder,      /* IE 10+ */
.masked-text-field:-moz-placeholder            /* Firefox 18- */
{
    color: $dark-shade-25;
}