-
    /*
        text-field ({
            name: string,
            value: string,
            placeholder: string;
        })
    */
mixin text-field(values)
    - var placeholderValue = ("placeholder" in values) ? values.placeholder : "";
    input(
        class = 'text-field'
        type='text'
        name=values.name
        value=values.value
        placeholder=placeholderValue
    )
