.toggle {
    position: relative;
    display: block;
    min-height: 20px;
    padding: 0 0 0 50px;
    margin: 0;
    background: none;

    color: $dark-shade-75;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.toggle__input {
    display: none;
}

.toggle__title {
    margin: 0;
    padding: 0;
}

.toggle__title::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 38px;
    height: 18px;
    border: 1px solid $dark-shade-25;
    border-radius: 10px;
}
.toggle__input:checked + .toggle__title::before {
    border-color: $purple;
}

.toggle__title::after {
    content: "";
    position: absolute;
    display: block;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: $dark-shade-25;
    border-radius: 6px;
}
.toggle__input:checked + .toggle__title::after {
    left: 24px;
    @include linear-gradient-background($purple, $blue-purple);
}
