$dark-shade-100: rgba(31, 32, 65, 1.0);
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-10: rgba(31, 32, 65, 0.1);
$dark-shade-5: rgba(31, 32, 65, 0.05);

$white: #ffffff;
$purple: #bc9cff;
$green: #6fcf97;
$blue-purple: #8ba4f9;
$blue-green: #66d2ea;
