-
    /*
        like-button ({
            count: int,
            liked: bool
        })
    */
mixin like-button(values)
    div(
        class= (values.liked == true) ? "like-button like-button_liked" : "like-button"
    )
        p(class="like-button__counter")= values.count