@import "../../calendar/calendar.scss";

.filter-date-dropdown {
    position: relative;
    height: 42px;
    padding: 0 45px 0 14px;
    background-color: $white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;

    color: $dark-shade-75;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 40px;
}

.filter-date-dropdown_opened {
    border-color: $dark-shade-50;
}

.filter-date-dropdown__text {
    padding: 0;
    margin: 0;
}

.filter-date-dropdown__text::after {
    content: "\e5cf";
    position: absolute;
    display: block;
    width: 42px;
    height: 44px;
    top: 0;
    right: 0;

    color: $dark-shade-50;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 44px;
    white-space: nowrap;
    text-align: center;
}

.filter-date-dropdown__calendar {
    position: absolute;
    z-index: 1;
    left: -1px;
    top: 50px;
}


