.filter-date-dropdown {
    position: relative;
    display: block;
    width: 205px;
    height: 42px;
    padding: 0 45px 0 14px;
    margin: 0;
    background-color: white;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;

    color: $dark-shade-75;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: normal;
}

.filter-date-dropdown_opened {
    border-color: $dark-shade-50;
}

.filter-date-dropdown__text {
    padding: 0;
    margin: 0;
}

.filter-date-dropdown__text::after {
    content: "\e5cf";
    position: absolute;
    display: block;
    width: 42px;
    height: 44px;
    top: 0;
    right: 0;

    color: $dark-shade-50;
    font-family: 'Material Icons';
    font-size: 24px;
    line-height: 44px;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-align: center;
}

.filter-date-dropdown__calendar {
    position: absolute;
    display: block;
    width: 266px;
    height: 111px;
    top: 43px;
    left: -1px;
    padding: 0;
    margin: 0;

    visibility: hidden;
}

.filter-date-dropdown__calendar_opened {
    visibility: visible;
}

