-
    /*
        filter-date-dropdown ()
    */
mixin filter-date-dropdown()
    div(class="filter-date-dropdown")
        p(class="filter-date-dropdown__text") 19 авг - 23 авг
        div(class="filter-date-dropdown__calendar")

